.git
.env*
**/.env*
**/auth.json
node_modules
**/node_modules
vendor
**/vendor
public/uploads/**
storage/app/**
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
*.md
docx_media